h1,h2,h3,h4,h5,h6,div,ul,li,span,body,p{margin: 0;padding: 0;}
body{background-color: #f1f1f1}
.alert.alert-info{
	margin-bottom: 0;
	margin-top: 70px;
}
/* 导航栏 */
.nav{
	height: 60px;
	background-color: #fff;
	width: 100%;
	position: fixed;
  	z-index: 99;
}
.nav .logo img{
	display: block;
	float: left;
	width: 45px;
	height: 45px;
	margin-top: 7px;
	margin-right: 20px; 
}
.nav .title{
	 line-height: 60px;
	 font-size: 24px;
	float: left;
}
.nav .login{
	float: right;
	margin-top: 13px;
}

/* 底部 */ 
.footer_nav{
	text-align: center;
	padding: 20px 0;
	font-size: 12px;
	color: #999;
}
