@defaultColor: #fff;
@nightColor: #252B37;
@eyeColor: #D4DFE3;
@defauleFont: 16px;
// 定义模式和字体
.nightColor{
  background-color: #1c1f2b;
  color: #bdcadb;
}
.eyeColor{
  color: #704214;
  background: #f3eacb;
}
// 大字体
.largeFont{
  .exam_item .subject{
    font-size: @defauleFont + 1!important;
  }
  .option_item label{
    font-size: @defauleFont - 1!important;
    >.letter{
      font-size: @defauleFont + 3!important;
    }
  }
}
// 小字体
.smallFont{
  .exam_item .subject{
    font-size: @defauleFont - 1!important;
  }
  .option_item label{
    font-size: @defauleFont - 3!important;
    >.letter{
      font-size: @defauleFont + 2!important;
    }
  }
}
.confirma_box p{
  margin-bottom: 15px;
  font-size: @defauleFont;
}
.exam_state{
  background-color: #fff;
  margin: 30px 0;
  border: 1px solid #E0E3E9;
  .breadcrumb{
    margin: 0;
    background-color: #fff;
  }
  .progress_bar{
    border-top: 1px solid #f1f3f5;
    padding: 0px 20px;
    height: 50px;
    background-color: #f9f9f9;
    position: relative;
    padding-right: 100px;
    .progress_box{
      margin: 19px 15px 0;
      width: 100%;
      border-radius: 20px;
      margin-bottom: 0;
      height: 12px;
      background-color: #e7e9ea;
      .page_done{
        height: 100%;
        display: block;
        border-radius: 20px;
        background-color: @themeColor;
        overflow: hidden;
        width: 30%;
        transition: width .3s;
      }
    }
    .txt{
      position: absolute;
      right: 15px;
      top: 15px;
      span{
        color: @themeColor;
      }
    }
  }
}
// 考试
.exam_body{
  // 提醒
  .remind_box{
    background-color: @defaultColor;
    border-radius: 5px;
    // 提醒头部
    .header{
      border-bottom: 1px solid #F1F1F1;
      position: relative;
      height: 55px;
      padding: 0 15px;
      &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background-color: #E45C40;
        width: 100px;
      }
      .title{
        float: left;
        line-height: 55px;
        font-size: 18px;
      }
      .count_down{
        text-align: center;
        line-height: 55px;
        .time{
          color: @themeColor;
        }
      }
      .seting{
        position: absolute;
        right: 0px;
        top: 8px;
        padding: 10px;
        i{
          font-size: 18px;
          color: #444;
          transition: all .8s;
        }
        &:hover i{
          transform: rotate(360deg);
        }
        &:hover .seting_body{
          display: block;
        }
        .seting_body{
          padding: 10px;
          background-color: #fff;
          position: absolute;
          top: 50px;
          width: 250px;
          left: -100px;
          display: none;
        }
      }
    }
    // 提醒框内容
    .remind_content{
      padding: 15px;
      border-bottom: 1px solid #F1F1F1;
      .subject_list{
        overflow: hidden;
        li{
          float: left;
          a{
            display: inline-block;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            margin: 0 6px 5px 0;
            color: #666;
            font-size: 14px;
            border: 1px solid #E6E8EC;
            border-radius: 3px;
          }
          a.error{
            background-color: #E45C40;
            color: #fff;
          }
          a.right{
            background-color: #47AD76;
            color: #fff;
          }
        }
      }
    }
    // 提醒尾部
    .footer{
      padding: 15px;
      position: relative;
      overflow: hidden;
      .subject_state{
        li{
          float: left;
          margin-right: 28px;
          position: relative;
          span{

          }
          em{
            position: absolute;
            right: -20px;
            top: 3px; 
            display: inline-block;
            height: 15px;
            width: 15px;
            border: 1px solid #E6E8EC;
          }
          em.error{
            background-color: #E45C40;
          }
          em.right{
            background-color: #47AD76;
          }
        }
      }
      .btn{
        position: absolute;
        right: 20px;
        top: 9px;
        background-color: @themeColor;
        border: none;
      }
    }
  }
  // 题目列表
  .exam_main{
    .exam_list{
      .exam_item{
        background-color: @defaultColor;
        margin-bottom: 30px;
        border-radius: 5px;
        border: 1px solid #e0e3e9;
        .subject{
          font-size: @defauleFont;
          margin-bottom: 15px;
          background-color: #f9f9fa;
          padding: 15px;
        }
        .option_list{
          padding: 10px 30px 15px;
          .option_item{
            margin-bottom: 10px;
            background-color: #F5F5F5;
            padding: 0 10px;
            height: 45px;
            position: relative;
            border: 1px solid #F5F5F5;
            &:hover{
              border: 1px solid #00b33b;
            }
            input{
              opacity: 0;
              filter:alpha(opacity=0);
            }
            label{
              height: 100%;
              width: 100%;
              line-height: 45px;
              padding-left: 20px;
              position: relative;
              font-size: @defauleFont - 2;
              .letter{
                position: absolute;
                top: 0px;
                left: 10px;
                font-size: @defauleFont + 2;
                margin-right: 15px;
              }
            }
          }
          .option_right_active{
            border: 1px solid #00b33b;
            color: #00b33b;
            &:after{
              border-top: 30px solid #00b33b;
            }
          }
          .option_error_active{
            border: 1px solid #E45C40;
            color: #E45C40;
            &:after{
              border-top: 30px solid #E45C40;
            }
          }
          .option_right_active,.option_error_active{
            &:after{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 0;
              border-bottom: 30px solid transparent;
              border-right: 30px solid transparent;
              z-index: 9;
            }
            &:before{
              content: '';
              position: absolute;
              left: 3px;
              top: 4px;
              width: 10px;
              height: 10px;
              border-radius: 5px;
              background: #fff;
              color: #fff;
              z-index: 10;
            }
          }
        }
      }
    }
  }
}

.remind_box_xs{
  background-color: #fff;
  border-top: 1px solid #e0e3e9;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  .show_state{
    height: 50px;
    position: relative;
    .menu,.m_setting_btn{
      padding: 10px;
      font-size: 18px;
    }
    .m_setting_btn{
      position: absolute;
      top: 5px;
      left: 15px;
    }
    .assignment_btn{
      position: absolute;
      top: 10px;
      right: 15px;
      background-color: #E45C40;
      border: none;
    }
    .menu_info{
      line-height: 50px;
      width: 260px;
      margin: 0 auto;
      .object_num{
        margin-left: 15px;
      }
      .right,.error{
        float: left;
        margin-left: 25px;
        span{
          border: 1px solid #444;
          font-size: 12px;
          padding: 0 2px;
          border-radius: 4px;
          margin-right: 2px;
          color: #444!important;
        }
      }
      .error{
        color: #E45C40;
      }
      .right{
        color: #47AD76;
      }
    }
  }
  .subject_list{

  }
}

//设置字体、模式
.setting{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: none;
  >.setting_box{
    left: 0;
    bottom: 0;
    position: fixed;
    padding-top: 15px;
    width: 100%;
    padding-bottom: 20px;
    background-color: #fff;
    z-index: 999;
    >.title{
      padding: 0 0 15px 15px;
      font-size: 16px;
      border-bottom: 1px solid #e0e3e9;
      color: #888;
    }
    >.font{
      margin-bottom: 20px;
      text-align: center;
      padding-top: 15px;
      >li{
        display: inline-block;
        border: 1px solid #e0e3e9;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        margin-right: 20px;
        border-radius: 100px;
      }
      >li.active{
        background-color: #31b0d5;
        color: #fff;
        border-color: #46b8da;
      }
    }
    .color_model{
      text-align: center;
      >li{
        display: inline-block;
        text-align: center;
        margin-right: 30px;
        >span{
          border: 1px solid #e0e3e9;
          border-radius: 100px;
          padding: 7px 10px;
          margin-bottom: 15px;
          display: inline-block;
        }
        &.active{
          >span{  
            background-color: #31b0d5;
            border-color: #46b8da;
            color: #fff;
          }
        }
      }
    }
  }
  .mask{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.1;
    filter:alpha(opacity=10);  
    z-index: 998;
  }
} 

@media(max-width:768px){

}
