.exam_state {
  background-color: #fff;
  margin: 30px 0;
  border-top: 1px solid #E0E3E9;
}
.exam_state .breadcrumb {
  margin: 0;
}
.exam_state .progress_bar {
  padding: 0px 20px;
  height: 40px;
}
.exam_state .progress_bar .progress {
  margin: 14px 15px 0;
  width: 80%;
  border-radius: 20px;
  margin-bottom: 0;
  height: 12px;
  float: left;
}
.exam_state .progress_bar .progress .page_done {
  height: 100%;
  display: block;
  border-radius: 20px;
  background: #e45c40;
  overflow: hidden;
  width: 30%;
}
.exam_state .progress_bar .txt {
  height: 40px;
  line-height: 40px;
}
